*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FAFAFA;
}

.borda-topo{
    border-bottom: 1px solid #DBDBDB;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    z-index: 3;
    background-color: #FFFFFF;
}
.barra-topo-mobile{
    display: none !important;
}
.barra-topo-desktop{
    height: 54px;
    width: 935px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 155px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icones{
    width: 154px;
    display: flex;
    justify-content: space-between;
}
.barra-topo-desktop ion-icon{
    width: 22px;
    height: 22px;
}

.barra-topo-mobile ion-icon{
    width: 22px;
    height: 22px;
}

.logo img{
    width: 103px;
    height: 29px;
}

.divisoria{
    border-left: 1px solid #DBDBDB;
    height: 22px;
}

.pesquisar input{
    width: 215px;
    height: 28px;
    background: #FAFAFA;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
}
input::placeholder {
    color: #DBDBDB;
  }

.corpo{
    display: flex;
    margin-top: 88px;
    width: 935px;
    justify-content: space-between;
}
.principal{    
    width: 614px;
    display: flex;
    flex-direction: column;
}

.stories{
    border: 1px solid #DBDBDB;
    width: 614px;
    height: 118px;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
    background-color: #FFFFFF;
}

.passa-pra-fora{
    width: 655px;
    height: 118px;
    border-radius: 3px;
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.foto{ /*cada storie individual*/ 
    position: relative;
    width: 66px;
    height: 66px;
}

.storie{ /*representacao do storie com nome*/
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    position:relative;
    width: 66px;
}

.storie img:nth-child(1){ /*circulo*/
    width: 66px;
    height: 66px;
    border-radius: 50%;
}

.storie img:nth-child(2){ /*fotinha de cada um*/
    position: absolute; 
    width: 56px;
    height: 56px;
    border-radius: 50%;
    top: 5px;
    left: 5px;
    z-index: 1;
}
.storie p{
    width: 66px;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    color: #262626;
}

.feed{
    width: 614px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
}


.post{
    width: 614px;
    /*height: 749px;*/ /*verificar se pode deixar o post com altura livre*/
    border: 1px solid #DBDBDB;
    background-color: #FFFFFF;
    margin-bottom: 60px;
    border-radius: 3px;
}
.fulano-postou{
    height: 61px;
    display: flex;
    align-items: center;
}

.fulano{
    width: 32px;
    height: 32px;
    border-radius: 50%;   
    margin-left: 17px;
    margin-right: 15px;
}
.fulano-postou h2{
    font-size: 14px;
    color: #262626;
    font-weight: 500;
}

.postagem{
    width: 612px;
    /*height: 612px;*/
}
.curtidas{
    height: 76px;
}
.reacoes{
    display: flex;
    justify-content: space-between;
    padding-right: 18px;
}

.reacoes ion-icon{
    width: 22px;
    height: 22px;
    margin-left: 16px;
    margin-top:10px;
}
.curtido-por{
    display: flex;
    margin-top:10px;
    height: 20px;
    align-items: center;
}
.curtido-por img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: 16px;
    margin-right: 5px;
    
}
.curtido-por p{
    font-weight: 300;
    font-size: 14px;
}
.bold {
    font-weight: 500;
    color: #000000;
}
.sidebar{   
    height: 1000px;
    width: 300px;
}
.perfil{
    display: flex;
    height: 56px;
    align-items: center;
    margin-bottom: 24px;
    margin-top: 23px;
}
.perfil img{
    width: 56px;
    height: 56px;
    border-radius: 50%;
    margin-right: 17px;
    
}

.sidebar h2{
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    color: #262626;
}
.sidebar h3{
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    color: #139EF2;
}
.perfil p{
    font-size: 14px;
    line-height: 17px;
    font-weight: 300;
    color: #8E8E8E;
}
.sugestoes{
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
    height: 32px;
    align-items: center;
}
.sugerencias{
    font-weight: 500;
    font-size: 12px;
    color: #8E8E8E;
}
.preto{
    color:#262626;
    font-weight: 500;
}

.nome{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
}

.foto-nome{
    display: flex;
}
.fotos-sugestoes{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 11px;
}

.sugestoes p{
    font-size: 12px;
    color: #8E8E8E;
    font-weight: 400;
}

.sobre p{
    margin-top: 33px;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #C7C7C7;
}
.instragram-do-face{
    margin-top: 18px;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #C7C7C7;
}
.barra-topo-mobile{
    display: none ;
}
.barra-inferior{
    display: none;
}

.stories ion-icon{
    display: initial;
    position: absolute;
    top: 46px;
    right: 9px;
    width: 26px;
    height: 26px;
    color:#FFFFFF;
    z-index: 2;
    -webkit-filter: drop-shadow(10px 0px 20px rgba(0 0 0 / 0)); 
    filter: drop-shadow(-2px 3px 2px rgba( 169, 169, 169, 0.5 ));
}

@media (max-width: 935px){
    .corpo{
        flex-direction: column;
        align-items: center;
    }
    .barra-topo-mobile, .sidebar{
        display: none;
    }
    .barra-topo-desktop{
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
    .stories, .corpo{
        width: 100%;
    }
}

@media (max-width: 614px){
    .corpo, .principal{
        width: 100%;
    }
    .barra-topo-desktop{
        display: none;
    }
    .barra-topo-mobile{
        display: initial !important;
        display: flex !important;
        align-items: center !important;
        justify-content: space-between !important;
        height: 54px;
        width: 100%;
        padding-left: 22px;
        padding-right: 22px;
    }
    .logo{
        width: 103px;
    }
    .icones{
        width: 20px;
    }
    .stories{
        background-color: #FAFAFA;
        border: none;
        border-radius: 0px;
    }
    .feed{
        margin-top: 0px;
    }
    .corpo{
        margin-top: 54px;
    }
    .stories ion-icon{
        display: none;
    }
    .feed, .post, .postagem{
        width: 100% !important;
    }
    .barra-inferior{
        display: initial;
        position: fixed;
	    bottom: 0;
	    left: 0;
        height: 54px;
        width: 100%;
        background-color: #FFFFFF;
        border: 1px solid #DBDBDB;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .barra-inferior ion-icon{
        width: 22px;
        height: 22px;
        padding-left: 19px;
        padding-right: 20px;
    }
    .post{
        border-left: none;
        border-right: none;
        border-radius: 0px;
    }
}